export DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ppre"
export SESSION_SECRET="2636cd1c40cdea3b64502ab66e510501"
# Do not include a trailing slash
export PUBLICLY_AVAILABLE_ORIGIN="http://localhost:3000"
export TESTING_WITH=equals-=equals
export ALGOLIA_APP_ID=RHVCHJW67L
export ALGOLIA_SEARCH_KEY=f2a615eae4f50927ad72e12f4a47538e
export SENTRY_DSN=
